body {
  margin: 0;
  color: var(--Qx-palette-text-primary);
  /* Target all the default <a> like Link Component from react-router-dom */
  a {
    color: var(--Qx-palette-primary-main);
    text-decoration: none;
    &:hover {text-decoration: underline;}
  }
}

button {
    border: none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

[role=button], button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.sr-only {
    clip: rect(0,0,0,0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}