/* Le fichier index.css est souvent utilisé pour des styles globaux
tels que la définition des couleurs, des polices, des tailles de police, etc.,
tandis que le fichier App.css peut être utilisé pour des styles spécifiques à
l'interface utilisateur de l' application, tels que des styles de disposition,
de marges et de rembourrages. */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a:hover {
    color: rgba(var(--blue-color-500), 1);
}

/* ## Dark Mode ## */

.dark a:hover {
    color: rgba(var(--blue-color-500), 1);
}