/* 
Ces différents styles sont utilisés pour les templates
du component ArticlesTemplates.tsx qui est composé de :
   - DocsTemplate
   - ExercicesTemplate
 */

.article-wrapper {
	width: 100%;
	.article-container {
		display: flex;
		flex-direction: row;
		align-content: center;
		flex-wrap: nowrap;
		height: 100%;
		width: 90rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0 2rem;
		.article-content {
			padding: 0 2rem 0 21.5rem;
			width: calc(90rem - 2rem - 21.5rem);
			.content {
				max-width: 71.25rem;
				margin: 2rem 0;
				/* Target all the default <a> like Link Component from react-router-dom */
				a {
					color: var(--Qx-palette-primary-main);
					text-decoration: none;
					&:hover {text-decoration: underline;}
				}
				img {max-width: 350px;}
			}
		}
	} /* Fin | Article Container */
} /* Fin | Article Wrapper */


/********************************************************/
/******************** MEDIA QUERIES ********************/
/******************************************************/

/* 2XL Breakpoints [2xl] - 1536px */
@media only screen and (min-width: 1536px) {}

/* XL Breakpoints [xl] - 1280px and 1439px (site normal size: 1440)  */
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .article-wrapper .article-container {
        width: 100%;
    }
}

/* Large Breakpoints [lg] - 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .article-wrapper .article-container {
        width: 100%;
    }

    .article-wrapper .article-container .article-content {
        width: 100%;
    }
}

/* Medium Breakpoints [md] - 768px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* Small Breakpoints [sm] - 640px */
@media only screen

/* and (min-width: 640px) */
and (max-width: 767px) {}