footer {
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid rgba(var(--QxSlate-900), 0.1);
    p {
        color: rgba(var(--QxSlate-400), 1);
    }
    .footer-links {
        font-weight: 300;
        font-style: italic;
        font-size: 0.8rem;
        text-align: center;
        padding: 0 4rem 0 5rem;
    }
}

/********************************************************/
/********************** DARK THEME *********************/
/******************************************************/

[data-mui-color-scheme="dark"] {
    footer {
        border-top: 1px solid rgba(var(--QxSlate-50), 0.06);
        p {
            color: rgba(var(--QxSlate-500), 1);
        }
    }
}