/* HEADER STRUCTURE */
header {
  display: flex;
  z-index: 50;
  position: sticky;
  top: 0;
  background-color: rgba(var(--QxSlate-50), 0.85);
  backdrop-filter: blur(4px);

  /* Header Wrapper | OneViewTemplate > Home */
  .header-wrapper {
    &.template-full {
			width: 100%;
    	border: none;
			.header-container {
				padding: 1.4rem 2rem 0 2rem;
			}
		}
  }

  /* Header Wrapper | ArticlesTemplate > Base */
  .header-wrapper {
		&.template-article {
			border-bottom: 1px solid rgba(var(--QxSlate-900), 0.1);
			.header-container {
				max-width: 90rem;
				margin-left: auto;
				margin-right: auto;
        .header-content {
          padding: 1rem 2rem;
        }
			}
		}
	}

  /* Header Wrapper */
  .header-wrapper {
    height: 4rem;
    flex: none;
    width: 100%;
    z-index: 40;
    top: 0;
    position: sticky;

    /* Header Content */
    .header-content {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      a {text-decoration: none;}

      /* Header Content > Logotype */
      .myreact-logotype {
        display: inline-flex;
        flex: none;
        margin-right: 0.75rem;
        overflow: hidden;

        svg {
          width: auto;
          height: 1.25rem;
          path.icon {fill: rgba(var(--QxBlue-500), 1);}
          path.text {fill: rgba(var(--QxSlate-950), 1);}
        }
      }

      /* Header Content > Bar Notification */
      .header-bar-notification {
        display: inline-flex;
        color: rgba(var(--QxBlue-600), 1);
        line-height: 1.25rem;
        font-weight: 500;
        font-size: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        background-color: rgba(var(--QxBlue-400), 0.1);
        border-radius: 9999px;
        align-items: center;
        margin-left: 0.75rem;
				&:hover {
					background-color: rgba(var(--QxBlue-400), 0.2);
				}
        span {
          margin-left: 0.5rem;
        }
        svg {
          color: rgba(var(--QxBlue-300), 1);
        }
        svg.dot-separator {
          margin-left: 0.5rem;
          width: 4px;
          height: 4px;
        }
        svg.arrow-cta {
          width: 3px;
          height: 6px;
        }
        .arrow-cta {
          margin-left: 0.75rem;
          overflow: visible;
        }
      }
      /* Header Content > Quick Access */
      .header-quick-access {
        display: inline-flex;
        align-items: center;
        margin-left: auto;
        position: relative;

        /* Quick Access > Header Links */
        nav.header-links {

          /* Header Links > Unordored List */
          ul {
            display: flex;
            margin: 0;
            li {
              display: inline-flex;
              list-style: none;
              a {
                color: rgba(var(--QxSlate-700), 1);
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 1.5rem;
								&:hover {
                	color: rgba(var(--QxBlue-500));
                  text-decoration: none;
              	}
              }
            }
            li:not(:last-child) {
              margin-right: 1.8rem;
            }
          } /* Fin | Unordored List */
        } /* Fin | Header Links */

        /* Quick Access > Header Tools */
        .header-tools {
          display: inline-flex;
          align-items: center;
          padding-left: 1.5rem;
          margin-left: 1.5rem;
          border-left: 1px solid rgba(var(--QxSlate-200), 1);

          /* Header Tools > GiHub Button */
          a.github-button {
            display: block;
            margin-left: 1.5rem;
            line-height: 0;

            svg {
              display: inline-block;
              color: rgba(var(--QxSlate-400), 1);
              width: 1.25rem;
              height: 1.25rem;
            }
          }
          a.github-button:hover svg {
            color: rgba(var(--QxSlate-500), 1);
          }

          /* Header Tools > Dark Mode Button */
          .QxButtonBase-root {
            padding: 0;
            margin: 0;
          }
        }
      } /* Fin | Quick Access */
    } /* Fin | Header Content */
  } /* Fin | Header Wrapper */

  /* Header Background */
  .header-background {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;
    div {
      width: 108rem;
      flex: none;
      display: flex;
      justify-content: flex-end;
      img.light-version {
        flex: none;
        width: 71.75rem;
        max-width: none;
      }
      img.dark-version {
        flex: none;
        display: none;
        width: 90rem;
        max-width: none;
      }
    }
  }
} /* Fin | Header */

/********************************************************/
/********************** DARK THEME *********************/
/******************************************************/

[data-mui-color-scheme="dark"] {

	/* Header Wrapper | ArticlesTemplate > Base */
  .header-wrapper.template-article {
    border-bottom: 1px solid rgba(var(--QxSlate-50), 0.06);
  }

header {
  background-color: rgba(var(--QxSlate-900), 0.95);

  /* Header Wrapper */
  .header-wrapper {

    /* Header Wrapper > Header Content */
    .header-content {
      /* Header Content > MyReact Logotype */
      .myreact-logotype {
        svg {
          path.icon {fill: rgba(var(--QxBlue-400), 1);}
          path.text {fill: rgba(var(--QxNeutral-0), 1);}
        }
      }

      /* Header Content > Header Bar Notification */
      .header-bar-notification {
        color: rgba(var(--QxBlue-400), 1);
				background-color: rgba(var(--QxBlue-400), 0.1);
        svg {
          color: rgba(var(--QxBlue-400), 1);
        }
				&:hover {
					background-color: rgba(var(--QxBlue-400), 0.2);
				}
      }

      /* Header Content > Quick Access */
      .header-quick-access {
        /* Quick Access > Header Links */
        nav.header-links {
          ul {
            li {
              a {
                color: rgba(var(--QxSlate-200), 1);
              }
              a:hover {
                color: rgba(var(--QxBlue-400), 1);
              }
            }
          }
        } /* Fin | Header Links */

        /* Header Links > Header Tools */
        .header-tools {
          border-color: rgba(var(--QxSlate-800), 1);

          /* Header Tools > GitHub Button */
          a.github-button:hover svg {
            color: rgba(var(--QxSlate-200), 1);
          }

          /* Header Tools > Dark Mode Button */
          .QxButtonBase-root {
            color: rgba(var(--QxSlate-400), 1);
            &:hover {
              color: rgba(var(--QxNeutral-0), 1);
            }
          }
        }
      } /* Fin | Quick Access */
    } /* Fin | Header Content */
  } /* Fin | Header Wrapper */

  /* Header Background */
  .header-background div {
    img.light-version {
      display: none;
    }
    img.dark-version {
      display: block;
    }
  }

}


} /* Fin | Dark Theme */

/********************************************************/
/******************** MEDIA QUERIES ********************/
/******************************************************/

/* 2XL Breakpoints [2xl] - 1536px */
@media only screen and (min-width: 1536px) {
}

/* XL Breakpoints [xl] - 1280px */
@media only screen and (min-width: 1280px) and (max-width: 1535px) {
}

/* Large Breakpoints [lg] - 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

/* Medium Breakpoints [md] - 768px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Small Breakpoints [sm] - 0px > 767px */
@media only screen /* and (min-width: 640px) */ and (max-width: 767px) {
  header .header-wrapper.template-full .header-container {
    padding: 1rem 1rem 0 1rem;
  }
  header .header-container .header-content .header-quick-access .header-links {
    display: none;
  }
}

/* Infinite Breakpoints - 1280px > ∞ */
@media only screen and (min-width: 1280px) {
  /* Header Notification Bar - Max Displaying */
  .large-resolution {
    display: inline-block;
  }
  .middle-resolution {
    display: none;
  }
}

/* Infinite Breakpoints - 0 > 1279px */
@media only screen and (max-width: 1279px) {
  /* Header Notification Bar - Max Displaying */
  .large-resolution {
    display: none;
  }
  .middle-resolution {
    display: inline-block;
  }
}
