/* Sidebar */

.article-wrapper .sidebar {
  display: block;
  position: fixed;
  inset: 0;
  top: 4rem;
  z-index: 30;
  width: 19.5rem;
  left: max(0px,calc(50% - 45rem));
  overflow-y: auto;

  /* Sidebar Container */
  .sidebar-container {

    /* Sidebar Content */
    .sidebar-content {
      padding: 1.5rem 2rem 0 2rem;
      /* Search Bar - Cancelled */
      .search-bar {
        /* temp */
        display: none;
        /********/
        position: sticky;
        top: 0;
        margin-left: -0.125rem;
        pointer-events: none;
        z-index: 25;
        padding-top: 2rem;
        padding-bottom: 2rem;
        --tw-gradient-to: transparent;
        --tw-gradient-stops: rgba(var(--primary-color-light), 1), rgba(var(--primary-color-light), 1), rgba(var(--primary-color-light), 1), rgba(var(--primary-color-light), 1), var(--tw-gradient-to);
        background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
        
        /* Search bar Content */
        .search-bar-content {
          position: relative;
          pointer-events: auto;

          /* Button */
          button {
            position: relative;
            left: 2px;
            width: 100%;
            align-items: center;
            line-height: 1.5rem;
            border-radius: 0.375rem;
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
            padding-left: 0.5rem;
            padding-right: 0.75rem;
            border: 1px solid rgba(var(--primary-color-200), .38);
          }
        }
      }

      /* Unordored List */
      ul {
        padding: 0;
        a {
          color: rgba(var(--QxSlate-700), 1);
          text-decoration: none;
          &:hover {
            color: rgba(var(--QxSlate-900), 1);
          }
        }
        a, h5 { font-size: .875rem; }

        &:not(:last-child) { margin-bottom:1.5rem;}

        /* Sidebar Top Links */
        &.sidebar-top-links {
          position: relative;
          z-index: 20;
          li {
            flex-direction: column;
            padding: 0;
            &:not(:last-child) {
              margin-bottom: 1rem;
            }
            a {
              display: flex;
              line-height: 0;
              font-weight: 600;
              align-items: center;
              &.active {
                color: rgba(var(--QxBlue-500), 1);
              }
              .svg-box-container {
                display: inline-block;
                margin-right: 1rem;
                border-radius: 0.375rem;
                box-shadow:0 1px 2px 0 #0000001e;
                border: 1px solid rgba(var(--QxSlate-900), .025);
                svg {height: 1.5rem; width: 1.5rem;}
                svg.book {
                  path:nth-child(1) {fill: rgba(var(--QxBlue-200), 1);}
                  path:nth-child(2) {fill: rgba(var(--QxBlue-400), 1);}
                }
                svg.cube {
                  path:nth-child(1) {fill: #e0e7ff;}
                  path:nth-child(2) {fill: #a5b4fc;}
                  path:nth-child(3) {fill: #818cf8;}
                }
              }
              &:hover {
                .svg-box-container {
                  border: 1px solid rgba(var(--QxBlue-900), .15);
                  box-shadow:0 1px 2px 0 rgba(var(--QxBlue-200), 1);
                  svg.book {
                    path:nth-child(1) {fill: rgba(var(--QxBlue-300), 1);}
                  }
                  svg.cube {
                    path:nth-child(1) {fill: #d0d9f8;}
                    path:nth-child(2) {fill: #96a9fd;}
                    path:nth-child(3) {fill: #6c7afc;}
                  }
                }
                
              }
            }
            
          }
        } /* Fin | Sidebar Top Links */

        /* Sidebar Links */
        &.sidebar-links {

          li {
            flex-direction: column;
            padding: 0;
            h5 {font-weight: 600;}
            ul {
              margin-top: 0.5rem;
              border-left: 1px solid rgba(var(--QxSlate-200), 1);
              li {
                padding: 0;
                a {
                  display: inline-block;
                  line-height: 1.5rem;
                  margin-left: -1px;
                  padding-left: 1rem;
                  border-left: 1px solid transparent;
                  &:hover {
                    border-color: rgba(var(--QxNeutral-400), 1);
                  }
                  &.active {
                    color: rgba(var(--QxBlue-500), 1);
                    border-color: currentColor;
                    font-weight: 600;
                  }
                }
                &:not(:first-child) {
                  margin-top: .5rem;
                }
              }
            }
          }
        }
      }
    } /* Fin | Sidebar Content */
  } /* Fin | Sidebar Container */
} /* Fin | Sidebar */


/********************************************************/
/********************** DARK THEME *********************/
/******************************************************/
[data-mui-color-scheme="dark"] {

  .article-wrapper .sidebar {
    .sidebar-container {
      .sidebar-content {
        /* Unordored List */
        ul {
          li {
            a {
              color: rgba(var(--QxSlate-400), 1);
            }
          }
          &.sidebar-top-links {
            li {
              a {
                .svg-box-container {
                  box-shadow: none;
                  background-color: rgba(var(--QxSlate-800), 1);
                  border: none;
                }
                &:hover {
                  color: rgba(var(--QxSlate-300), 1);
                }
                &.active {
                  color: rgba(var(--QxBlue-600), 1);
                  .svg-box-container {
                  background-color: rgba(var(--QxBlue-700), 1)
                  }
                }
              }
            }
          } /* Fin | Sidebar Top Links */
          &.sidebar-links {
            li {
              a {
                &.active {
                  &:hover {
                    color: rgba(var(--QxSlate-300), 1);
                    border-color: rgba(var(--QxBlue-700), 1);
                  }
                }
              }
              ul {
                border-color: rgba(var(--QxSlate-800), 1)
              }
              &:hover {
                border-color: rgba(var(--QxSlate-500), 1);
              }
            }
          } /* Fin | Sidebar Links */
        }
      } /* Fin | Sidebar Content */
    } /* Fin | Sidebar Container */
  }

}
/* Sidebar Top Links - Dark */
/*

*/

/*

.dark .search-bar {
    width: 100%;
    --tw-gradient-to: transparent;
    --tw-gradient-stops: rgba(var(--QxSlate-200), 1), rgba(var(--QxSlate-200), 1), rgba(var(--QxSlate-200), 1), rgba(var(--QxSlate-200), 1), var(--tw-gradient-to);
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.dark .search-bar .search-bar-content button {
    left: 0;
    border: none;
}
*/